:root {
  /*--mygreen: #A7FAC0;*/
  --mygreen: #A2B27D;
}


body {
  /*margin: 0px !important; 
  padding: 0px !important;*/
  font-family: 'Rubik', sans-serif !important;
  font-weight: 400;
  text-align: center;
}

.container-fluid  {
  padding:0;
  margin: 0 !important;
}

header {
  margin-top: 2%;
  margin-bottom: 5%;
}

h1 {
  font-size: 9rem;
  font-family: 'Darumadrop One', sans-serif;
  color: white;
  letter-spacing: -.03em;
  line-height: 0.5;
  padding-bottom: 3rem;
  margin: auto ;
}

h2 {
  background-color: var(--mygreen); opacity:0.7;
  color: black;
  padding: 8px 12px;
  font-style: italic;
  border-radius: 10px;
}

.light {
  color: white;
  display: inline-block;
  transform: rotate(-10deg);
}

#aboutImg {
  display: none;
}

/* For width 1200px and larger: */
@media only screen and (min-width: 1200px) {
    #aboutImg {
      display: block;
    }
  }

nav ul li {
  display: inline-block;
}

section {
  padding: 5% 5% 0px 5%;
}

.whitelink {
  color: #fff;
}

.active {
  color: #6B6A68 !important;
}

.nounderline {
  text-decoration: none;
  padding: 10px 10px 0px 10px;
}

.bor {
  border: solid 1px black;
}

.navbar .navbar-nav .nav-link {
  font-size: 1.1em;
  font-weight: bold;
}
.navbar .navbar-nav .nav-link:hover {
  color: #000000;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item:not(.active)::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--mygreen);
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.3s;
}

.navbar .navbar-nav .nav-item:not(.active):hover::after {
  width: 100%;
}

.bg-image{
  margin-top: 3%;
  margin-bottom: 5%;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 5px solid var(--mygreen);
  border-top: 5px solid var(--mygreen);
  background-image: url('../imgs/gday2.png');
  height: 600px;
  background-position: center;
  opacity: 0.8;
}

/* For width 992px and larger: */
@media only screen and (min-width: 992px) {
.bg-image{
  background-image: url('../imgs/gday6.png');
  background-position: 0 0;
  }
}

main {
  margin: 5% 3% 5% 3%;
}

/* For width 768px and larger: */
@media only screen and (min-width: 768px) {
  main {
    margin: 5% 10% 5% 10%;
  }
}

/* For width 1800px and larger: */
@media only screen and (min-width: 1800px) {
    main {
      width: 1500px;
      margin: auto;
    }
  }




.item {
  padding: 10% 0 10% 0;
  border-bottom:  4px double var(--mygreen) ;
}

.lastItem {
  border-bottom: none !important;
}

.ytframe {
  margin: 0 0 5% 0%;
}

/* For width 1200px and larger: */
@media only screen and (min-width: 1200px) {
  .ytframe{
    margin: 0;
    padding-right: 5%;

    }
  }

.infotext {
  text-align: left;
}

.card-title {
  border-bottom: 4px solid var(--mygreen); 
  padding-bottom: 7px; 
}

.card-text {
  margin: 6% 0 6% 0;
}

.card-body{
  padding: 0;
}

/* For width 1200px and larger: */
@media only screen and (min-width: 1200px) {
  .card-body {
    padding: 0 0 0 5%;
  }
}

.rate{
  text-align: center;
  padding: 0 15% 0 5%;
}

.clickToRate {
  border: 2px solid var(--mygreen); 
}

.share{
  color: #000000;
  text-align: right;
  margin-right: 10%;
}

.Copyright {
  background-color: var(--mygreen);
}

/* For JS caption: */

.imgc {width: 100%}

.full-width-image-atf .content-main-image {
  position: relative;
  color: #fff;
}

.full-width-image-atf .image-caption-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  padding: 15px 20px;
}
.full-width-image-atf .image-caption-wrap:before {
  content: '\f05a';
  font-family: 'Font Awesome 5 Pro';
  font-size: 2em;
}
.full-width-image-atf .image-caption {
  opacity: 0;
  padding-right: 10px;
}
.full-width-image-atf .image-caption-wrap:hover .image-caption {
  opacity: 1;
}
.full-width-image-atf .image-caption-wrap:hover {
  background: black !important;
  cursor: pointer;
}
.full-width-image-atf .content-main-image, .full-width-image-atf .content-main-image * { transition: 0.4s ease all }

/* For DOC page: */

.pDoc  {
  text-align: justify;
  margin-top: 5%;
  line-height: 1.8;
}

.tDoc {
  margin-top:10%;
}

.text-justify {
  line-height: 1.8;
}

ul li {
  margin-left: 20px;
  text-align: left;
}

.imgBan {
  width: 50px;
  margin-top: 5%; 
}

.lgreen {
  background-color: var(--mygreen);
  width: 5%;
  display: inline;
}
